<div class="center-column">
  <%= render "shared/navigation" %>
</div>
<article class="center-column mentoring-container">
  <section>
    <h2 class="text-center">Mentorship</h2>
    <p>
      Growing up, writing software for a living was not an option.
      I knew I was into computers and breaking things to see how they worked,
      but it wasn't obvious software was what I was looking for.
    </p>
    <p>
      I am passionate about mentoring because I want to give back. I want to
      give others the same opportunity and the option of being able to write
      software for a living.
    </p>
  </section>

  <section>
    <h3>Mentoring Repos</h3>
    <p>
      Over the years of I noticed there were common ideas
      that seemed to escape students. I began writing open source repositories
      to help student practice particular skills.
    </p>

    <ul class="mentoring-repos">
      <h4>Algorithms / CS</h4>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-parsing-params"
           target="_blank">
          Parsing Params</a>
        <%= image_tag "svgs/ruby", class: "small-icon" %>
      </li>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-ruby-algorithm-reverse-polish-notation"
           target="_blank">
          Reverse Polish Notation</a>
        <%= image_tag "svgs/ruby", class: "small-icon" %>
      </li>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-ruby-algorithm-base16"
           target="_blank">
          Base16 Convertions </a>
        <%= image_tag "svgs/ruby", class: "small-icon" %>
      </li>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-ruby-recursive-friends"
           target="_blank">
          Recursively Parse JSON response</a>
        <%= image_tag "svgs/ruby", class: "small-icon" %>
      </li>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-js-recursive-flatten"
           target="_blank" >
          Implement Flatten</a>
        <%= image_tag "svgs/javascript", class: "small-icon" %>
      </li>
      <h4>Rails</h4>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-active-record-querying"
           target="_blank" >
          Active Record Querying
        </a>
      </li>
      <h4>Javascript</h4>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-js-closures"
           target="_blank" >
          Closures
        </a>
      </li>
      <h4>CSS</h4>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-css-clearfix"
           target="_blank" >
          Clearfix
        </a>
      </li>
      <li>
        <a href="https://github.com/KaoruDev/mentoring-css-states"
           target="_blank" >
           CSS States
        </a>
      </li>
      <h4>Vidoes (WIP)</h4>
      <li>
        <a href="https://www.youtube.com/watch?v=ZtiLtmHOWX0"
           target="_blank" >
          Navigating Git
        </a>
      </li>
    </ul>
  </section>
</article>
