<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :tags %>
    <%= text_field_tag :tags, @post.tags.pluck(:name).join(","), :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>

  <div id="wmd-button-bar"></div>
  <textarea name="post[body]" id="wmd-input" cols="96" rows="20" class="form-control"><%= @post.body %></textarea>
  <div id="wmd-preview" class="clearfix"></div>
<% end %>

<%= content_for :javascript do %>
  <script>
    !function () {
      var converter = new Markdown.Converter();

      Markdown.Extra.init(converter);

      utils.setupMarkdownHooks(converter);

      var editor = new Markdown.Editor(converter);
      editor.run();

    }();
  </script>
<% end %>
