<article class="post-container center-column">
  <section class="clearfix double-column-container">
    <header class="post-title-container column">
      <h3><%= post.title %></h3>
      <p class="tags-container">
        <span class="post-timestamp">
          <%= (post.published_at || post.updated_at).strftime("%B %-d, %Y") %>
        </span><br>

        <% post.tags.each do |tag| %>
          <%= link_to tag.name, "/posts?tags=#{tag.name}" %>
        <% end %>
      </p>
      <p class="deep-link">
        <% if controller.action_name != "show" %>
          <%= link_to "Link", post_path(post.slug) %>
        <% end %>
      </p>
      <% if current_user %>
        <div class="post-action-container">
          <%= link_to "edit", edit_post_path(post) %> |
          <%= link_to "delete", post_path(post), :method => :delete %>
        </div>
      <% end %>
    </header>

    <p class="post-body clearfix column"><%= post.body %></p>
  </section>
  <% if action_name == "show" %>
    <div id="disqus_thread"></div>
  <% end %>
</article>
