<div class="row">
  <div class="col-xs-6">
    <%= link_to "Write New Post", new_post_path %>&nbsp;&nbsp;&nbsp;
    <%= link_to "Log Out", destroy_user_session_path, :method => :delete%>
    <%= form_for @new_image do |f| %>
      <%= f.text_field :name %>
      <%= f.file_field :file, :required => true %>
      <%= f.submit "Upload", :class => "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <h4>Unpublished Posts</h4>
    <ul>
      <% @unpublished_posts.each do |post| %>
        <li><%= link_to post.title, edit_post_path(post.id)%></li>
      <% end %>
    </ul>
  </div>
</div>
