<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">

  <%= render "shared/social_media_tags" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="viewport"
        content="width=device-width,
                 initial-scale=1.0,
                 maximum-scale=12.0,
                 minimum-scale=.25,
                 user-scalable=yes"/>

  <%= render "shared/ga_analytics" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <%= render "shared/footer" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascripts %>
</body>
</html>
