<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">

  <%= render "shared/social_media_tags" %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="center-container-column">
    <header>

      <h1 class="page-title">
        <a href="/" class="title-link">
          <div>Kaoru</div>
          <div>Kohashigawa</div>
        </a>
      </h1>

      <div class="sub-title text-uppercase">
        Motivation, Code, &amp; Stuff
      </div>

    </header>
    <%= render "shared/navigation" %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>
</body>
</html>
